@page "/"

<h1>Hi folks!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter />

<Counter IncrementStep="2" CounterName="Another one default counter" />

<Counter IncrementStep="4" CounterName="Counder with step = 4" />
